<% if (@authors.blank?) %>
	<h2>Sorry brah, no one writes here these days.</h2>
<% else %>
	<% @authors.each do |author| %>
		<h2><%= link_to(author.name, "/authors/show?author=" + author.name) %></h2>
	<% end %>
<% end %>